body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
  }
  
  .signup-container {
    background: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    margin-left: 25rem;
    margin-top: 3rem;
  }
  
  .signup-container h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .signup-container input {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
  }
  

  
  .signup-container button {
    width: 100%;
    padding: 12px;
    background-color: #9435e8;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .signup-container button:hover {
    background:  #8923e2;
  }
  
  .signup-container p {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .signup-container a {
    color: #9435e8;
    text-decoration: none;
  }
  
  
  
  
  
  
  
  
  
  
  